.btn-popupModal-color {
  color: #002d73;
  border: #002d73 solid 0.1px;
  box-shadow: 0 5px 8px 0 #a5c7ff;
}
.modalBody {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.modal-content {
  padding: 1.25rem;
  width: fit-content !important;
}
.modal-dialog {
  padding: 10rem;
  display: flex;
  justify-content: center !important;
  align-items: flex-start !important;
  padding-top: 2rem !important;
}

[role="dialog"] {
  overflow: clip;
}



.modal-backdrop.show {
  opacity: 0.4;
  transition: opacity 0.3s ease-in-out;
}

.modal.fade .modal-dialog {
  transform: scale(0.8);
  opacity: 0;
  transition: all 0.3s ease-out;
}

.modal.show .modal-dialog {
  transform: scale(1);
  opacity: 1;
}

.modal.fade:not(.show) .modal-dialog {
  transform: scale(0.9);
  opacity: 0;
}

.btn-popupModal-color:hover {
  background-color: #b6d4fe;
  color: rgb(0, 0, 0);
  transform: scale(1.05);
  box-shadow: 0 5px 8px 0 #dae8ff;
}

.text-navy {
  color: #002b5c;
}
