@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Kanit", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

a:hover {
  text-decoration: none;
  transform: scale(1.05);
  transition: transform 0.25s ease-in-out;
}

.hover-primary:hover,
.hover-primary:focus {
  transform: scale(1.15);
  background-color: #001e4e !important;
  transition: transform 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

.hover-secondary:hover,
.hover-secondary:focus {
  transform: scale(1.15);
  background-color: #dadada !important;
  transition: transform 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

input:hover,
textarea:hover,
select:hover {
  transform: scale(1.05);
  transition: transform 0.25s ease-in-out;
}

.bg-navy {
  background-color: #002d73 !important;
}
.text-gray {
  color: #4b4949 !important;
}
.bg-softgray {
  background-color: #eeeeee;
}
.text-navy {
  color: #002d73 !important;
}
.btn-white-1 {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  max-width: fit-content;
}

[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 28px;
  height: 28px;
  border: 4px solid #eef0f5;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
}

[type="radio"]:checked {
  border: 6px solid #eef0f5;
  background-color: #002d73;
}

.radio-btn:has(input[type="radio"]:checked) {
  background: linear-gradient(to bottom right, #749ee3, #30639d);
  color: #ffffff;
}

.radio-btn:has(input[type="radio"]:checked) .text-gray {
  color: #ffffff !important;
}

[type="radio"]:hover {
  border-color: #a0acc4;
}

.radio-btn {
  background-color: #fff;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  padding: 20px 50px;
  width: 376px;
  height: 77px;
  gap: 30px;
  display: flex;
  align-items: center;
  border: 1px solid #dee2e6;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.radio-btn:hover {
  border-color: #a0acc4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
  transform: translateY(-2px);
}
button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

a[role="button"]:hover {
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}
button:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

.react-datepicker__input-container input {
  text-align: center;
}

.AppointmentBackground {
  margin-left: 1.5rem;
  flex-direction: column;
  padding: 1.5rem;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #eeeeee;
  position: relative;
  width: 850px !important;
  height: fit-content;
}
.doctor-filter-input:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1);
  transition: all 0.2s ease;
}

.card-doctor {
  background: linear-gradient(to bottom right, #002d73, #30639d);
}

.time-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
  transition: all 0.2s ease;
}
